.notes {
  display: flex;
  margin-top: 6%;
  margin-left: -9%;
  font-weight: 700;
  height: 83vh;

  .right {
    flex: 3;
    // background-color: rgb(85, 160, 226);
    // height: 100%;

    cursor: pointer;

    .elements {
      list-style-type: none;
      position: fixed;

      // margin-left: -250px;

      li {
        display: block;
        height: 40px;
        .nt {
          color: grey;
          margin-right: 10px;
          width: 20px;
        }
        .icon {
          margin-right: 10px;
          width: 20px;
          background-color: rgb(64, 131, 231);
          border-radius: 20px;
        }

        .pen {
          color: grey;
          margin-right: 10px;
        }
        .more {
          //   color: grey;
          margin-right: 20px;
          position: relative;
          align-items: center;
          justify-content: center;

          .plus {
            // margin-right: -70px;
            margin-left: 100px;
            position: absolute;
            margin-bottom: 30px;
            margin-top: 4px;
          }

         

          
        }

        // .addBtn {
        //     // margin-left: 60px;
        // }
        .AddNote {
          height: 60px;
        }

      
      }

      li.categories {
       
        .cat {
          
          .items {
            display: flex;
            margin-left: 0px;
            margin-bottom: 20px;

            .name {
              margin-left: 20px;
            }
          
          }
        }
      }


      li.AddNote:hover {
        background-color: rgb(67, 117, 226);
        border-radius: 5px;
      }

      li.scratchpad:hover {
        background-color: rgb(60, 62, 65);
        border-radius: 5px;
      }

      li.notes:hover {
        background-color: rgb(60, 62, 65);
        border-radius: 5px;
      }
    }

    .logout {
      margin-top: 550px;
      justify-content: center;
      align-items: center;
      margin-right: 170px;

      span {
        margin-left: 10px;
      }
    }
  }
  .center {
    flex: 3;
    background-color: rgb(213, 218, 219);
   

    .result {
      section {
        .allNotes {
          max-height: 574px; /* set max height for container */
          overflow-y: auto; /* add vertical scrollbar */
          cursor: pointer;
          .container {
            width: 300px;
            // height: 150px;
            height: 100%;
         
            padding: 10px;
            color: rgb(68, 65, 65);
            // display: block;

            .threeDots {
              justify-content: flex-end;
              margin-left: 250px;
              

            }
           

            .delete-button {
              width: 20px;
              background-color: inherit;
            }



           .text {
            // border: 1px solid rgb(197, 194, 194);
            color: rgb(59, 56, 56);
            width: 100%;
            display: block;
            margin-right: 250px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            border-bottom: 1px solid rgb(243, 243, 243);

            .title {
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 5px;
              text-align: left;
            }

            .description {
              font-size: 14px;
              color: rgb(103, 103, 105);
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

              margin-top: 0;
              text-align: left;
            }

            .date {

            }

            span {
              position: relative;
              margin-left: 260px;
              display: none;
            }
            &:hover {
              span {
                display: block;
                position: absolute;
                margin-left: 260px;
              }
            }



           }
           
          }
        }
      }
    }
  }
  .left {
    flex: 7;
    // background-color: beige;

    .scratchOpen {
      height: 570px;
      width: 1043px;
      resize: none;
      background-color: whitesmoke;
      color: black;
    }

    .markInput {
      input {
        width: 99%;
        height: 25px;
        border: none;
      }

      textarea {
        height: 559px;
        width: 743px;
        resize: none;
        background-color: whitesmoke;
        color: black;
      }
    }
  }
}
