.chat {
  width: 80%;
  height: 78vh;
  background-color: white;
  display: flex;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 50px;
  position: absolute;
  overflow-y: hidden;

  .usersList {
    flex: 2;
    color: #000000;
    background-color: #f7f0f0;

    .user {
      display: flex;
      width: 90%;
      align-items: center;

      .left {
        width: 50px;
        font-size: 30px;
      }

      .right {
        display: flex;
        align-items: center;

        .username {
          

        }

        .badge {

          border-radius: 80%;
          background-color: #646cff;
          font-size: 20px;
          margin-left: 10px;
          color: white;
          width: 20px;
          cursor: pointer;

        }

      }
    }
  }

  .chatBox {
    flex: 8;

    .chatBoxWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      height: 500px;

      .chatBoxTop {
        overflow-y: scroll;
        padding-right: 10px;
        scroll-behavior: smooth;
        display: flex;
        width: 100%;
        height: 80vh;

        .right {
          flex:50%;
          margin-left:15px;
          background-color: #555555;
          color:#f7f0f0;
          margin-left: 30px;
          
          .conversation {
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: auto;
            height: calc(100% - 70px);

            .sender {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
            

              .logo {
                margin-left: 10px;
              }

              .messageText {
                background-color: #edebf3;
                color: #000;
                padding: 10px;
                border-radius: 10px;
              }
            }

            .receiver {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-end;
             

              .logo {
                margin-right: 10px;
              }

              .messageText {
                background-color: #f0eaea;
                color: #000;
                padding: 10px;
                border-radius: 10px;
              }
            }
          }
        }

        .left {
          flex:50%;
          background-color: aquamarine;
        }
      }

      .chatBoxTop::-webkit-scrollbar {
        width: 10px;
      }

      .chatBoxTop::-webkit-scrollbar-thumb {
        background-color: #000000;
        border: 2px solid #555555;
        border-radius: 10px;
      }

      .noConversationText {
        position: absolute;
        top: 10%;
        font-size: 30px;
        color: rgb(189, 202, 238);
        text-align: center;
      }

      .chatBoxBottom {
        margin-top: 105px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .chatMessageInput {
          width: 80%;
          height: 90px;
          padding: 10px;
          margin-left: 100px;
          margin-bottom: -20px;
          resize:none ;
        }

       
        .chatSubmitButton {
          width: 70px;
          height: 40px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          background-color: inherit;
          color: white;
          margin-right: 10px;
          position: absolute;
          margin-left: 550px;
          margin-top: -20px;
        }
      }
    }
  }

  .chatOnline {
    flex: 2;
  }
}
