.sideBar {
    position: sticky;
    margin: -3%  60%;
    cursor: pointer;

    .section {
        list-style-type: none;
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        
        width: 450px;

        .logout {

            span {
                 margin-right: 10px;
            }
        }
      
        
      


        .item {
            
          

        }


    }
}